argparse
azure-storage-blob
colorama
distro
halo
inquirer
mutagen
mypy
natsort
numpy
paramiko
path.py
Pillow
pycountry
pydub
pyperclip
pyreadline
python-dotenv
readchar
requests
ruff
scipy
scp
send2trash
setuptools
soundfile
telethon
termcolor
tqdm
types-paramiko
types-pillow
types-requests
types-send2trash
